.container {
    max-width: 700px;
    height: 600px;
    border: 1px solid rgb(117, 117, 119);
    margin: 0 auto;
}

header {
    text-align: center;

    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 30px;
    height: 50px;
}

.chat {
    height: 450px;
    border-top: 1px solid rgb(117, 117, 119);
    border-bottom: 1px solid rgb(117, 117, 119);
}
.message{
    background-color: rgb(130, 180, 12);
}
.chuckMessage{
    background-color: rgb(136, 106, 6);
    position: absolute;
    left: 10px;
}
.userMessage{
    background-color: rgb(136, 6, 129);
}

footer {
    height: 100px;
}