<div class="container">
    <header>
        <p>Chat with Chuck Norris</p>
        <button class="btn btn-back" (click)="back()" *ngIf="!flagRadio">Back</button>
    </header>
    <div class="chat" *ngIf="!flagRadio">
        <div class="message" *ngFor='let m of messages'>
            <div class="textMessage" [ngClass]="{'chuckMessage': m.id === 0, 'userMessage':m.id === 1 }">
                <span>{{m.message}}</span>
            </div>
        </div>
        <div class="typing" *ngIf="typing">
            <div class="chat-bubble">
                <div class="typing">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="chat chatRadio" *ngIf="flagRadio">
        <h3 class="title">Select category for conversation with Chuck</h3>
        <div class="category">
            <div *ngFor="let category of categories">
                <input type="radio" name="category" id="{{category}}" value="{{category}}"
                    [(ngModel)]="selectedCategory">
                <label for="{{category}}">{{category}}</label>

            </div>
        </div>

        <div class="userName">
            <h4>Please, write your name</h4>
            <input type="text" [(ngModel)]="userName" (keydown.enter)="selectCategory()">
            <button class="btn btn-start" (click)="selectCategory()"
                [disabled]="selectedCategory==='' || userName===''">Start conversation</button>
        </div>


    </div>
    <footer>
        <input [disabled]="flagInput" [(ngModel)]="newMessage" (keydown.enter)="sendMessage()"
            placeholder="Type your message">
        <button [disabled]="flagInput" (click)="sendMessage()"></button>
    </footer>
</div>